<p>Add a new patient to your list:</p>

<form action="/patients" method="post">
  <label for="first">Patient First Name</label>
  <input id="first" name="first" type="text">
  <label for="last">Patient Last Name</label>
  <input id="last" name="last" type="text">
  <label for="birthdate">Date of Birth</label>
  <input id="birthdate" name="birthdate" type="date">
  <button type="submit" class="btn btn-success">Add Doctor</button>
</form>
